<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="images/mlogo.jpg">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
    <link rel="stylesheet" href="static/CSS/style.css">
    <title>Mohit Pandey-Personal Portfolio</title>
</head>

<body>
    <nav>
        <div class="nav-logo">
            <a href="index.html">
                <img src="static/images/logo.png" style="filter: drop-shadow(4px 4px 9px rgb(107, 40, 165));">
            </a>
        </div>

        <ul class="nav-links">
            <li class="link"><a href="#">Home</a></li>
            <li id="link1" class="link"><a href="#">Projects<i class="ri-arrow-down-s-line"></i></a></li>
            <li id="link2" class="link"><a href="#">Skills<i class="ri-arrow-down-s-line"></i></a></li>
            <li id="link3" class="link"><a href="#">Contact me<i class="ri-arrow-down-s-line"></i></a></li>
        </ul>
        <button class="btn">Hire Me</button>
    </nav>

    <header class="container">
        <div class="content">
            <span class="blur"></span>
            <span class="blur"></span>
            <h3 style="color: rgb(206, 127, 9);">Hello, Welcome</h3>
            <H1>I'm <span>Mohit Pandey</span>,A</H1>
            <div class="typing-text">
                <div class="typed-text d-none">Python Developer..., Django developer..., Web Developer...</div>
                <div class="text-container"></div>
            </div>

            <div class="socials">
                <div class="logos"><a href="https://github.com/mohitpandeycode?tab=repositories"><img
                            src="static/images/github.png"></a></div>
                <div class="logos"><a href="https://www.linkedin.com/in/mohit-pandey-a14573268"><img
                            src="static/images/linkedin.png"></a></div>
                <div class="logos"><a href="mailto:mp7698921@gmail.com"><img src="static/images/email.png"></a></div></a>
                <div class="logos"><a href="https://twitter.com/MPandey1795"><img src="static/images/twitter.png"></a></div>
            </div>
            <a href="resume.pdf"><button class="btn">Get My Resume</button></a>
        </div>
        <div class="image">
            <div class="circle"></div>
            <img src="static/images/pic.png">
        </div>
    </header>

    <section class="container" data-aos-offset="200" data-aos="fade-up">
        <h2 class="header">About me</h2>
        <p id="ab">"Hello, I'm Mohit Pandey, passionate about Python and specializing in Django for web development.
            Python fascinated me with its versatility and power, becoming my primary tool for crafting efficient
            solutions. Exploring web development, I've delved into HTML, CSS, and JavaScript to design user-friendly
            interfaces. However, my expertise lies in Django, where I excel in building robust and scalable web
            applications. I thrive on curiosity, constantly seeking collaborations to innovate and create impactful tech
            solutions."</p>
    </section>

    <section class="container" data-aos-offset="220" data-aos="fade-up" data-aos-duration="800">
        <h2 class="header">Projects</h2>
        <div class="features">
            <div class="card">
                <img src="static/images/ecom.jpg">

                <h4 style="text-shadow: 4px 4px 8px green; color: aqua;">My-ShoppigCart</h4>
                <p>
                    A Python Django based Ecommerce Website fully functional for Front end and Back end.
                </p>
                <a href="https://github.com/mohitpandeycode/My-Shopping-Cart-ECommerce-Website"><i
                        class="ri-github-fill"></i> View Project <i class="ri-arrow-right-line"></i></a>
            </div>

            <div class="card">
                <img src="static/images/text.png">
                <h4 style="text-shadow: 4px 4px 8px green; color: aqua;">Blog App Django</h4>
                <p>
                    Fully functional Python Django Blog website allowing users to read and comments on the blog.
                </p>
                <a href="https://github.com/mohitpandeycode/iCoderX-Blog-App-Django"><i
                        class="ri-github-fill"></i> View Project <i class="ri-arrow-right-line"></i></a>
            </div>

            <div class="card">
                <img src="static/images/food.png">
                <h4 style="text-shadow: 4px 4px 8px green; color: aqua;">Food Recipe Django</h4>
                <p>
                    Food recipe app with user authoraization logged in user can add recipies & more.
                </p>
                <a href="https://github.com/mohitpandeycode/Food-Recipe-App-Django"><i
                        class="ri-github-fill"></i> View Project <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="card">
                <img src="static/images/spotify.png" alt="">
                <h4 style="text-shadow: 4px 4px 8px green; color: aqua;">Spotify Clone</h4>
                <p>
                    A fully functional Spotify Clone using Html Css JavaScript technologies to play and add songs.
                </p>
                <a href="https://github.com/mohitpandeycode/Spotify-Clone"><i
                        class="ri-github-fill"></i> View Project <i class="ri-arrow-right-line"></i></a>
            </div>
            {% for data in project %}
            <div class="card">
                <img src="static/images/spotify.png" alt="">
                <h4 style="text-shadow: 4px 4px 8px green; color: aqua;">{{data.title}}</h4>
                <p>
                    {{data.desciption | safe | slice:"0:100"}}
                </p>
                <a href="{{data.link}}"><i
                        class="ri-github-fill"></i> View Project <i class="ri-arrow-right-line"></i></a>
            </div>
            {% endfor %}
        </div> 
    </section>

    <section class="container" data-aos-offset="220" data-aos="fade-up" data-aos-duration="800">
        <h2 class="header">Skills</h2>
        <div class="features">
            <div class="card">
                <span><i class="ri-code-s-slash-fill"></i></span>

                <h4>Web Technologies</h4>
                <p style="color: aqua;">
                    • HTML5, CSS, JavaScript.<br>
                    • Bootstrap, Django<br>
                    • Djngo Rest Framework

                </p>
            </div>

            <div class="card">
                <span><i class="ri-terminal-window-fill"></i></span>
                <h4>Programming Langs.</h4>
                <p style="color: aqua;">
                    • Python<br>
                    • JavaScript<br>
                    • C/C++
                </p>
            </div>

            <div class="card">
                <span><i class="ri-database-2-line"></i></span>
                <h4>Database</h4>
                <p style="color: aqua;">
                    • MySQL<br>
                    • My SQLite<br>
                    • ORM
                </p>
            </div>
            <div class="card">
                <span><i class="ri-shake-hands-line"></i></span>
                <h4>Other Skills</h4>
                <p style="color: aqua;">
                    • Problem Solving, Communication Skill.<br>
                    • GIT, GitHub, SDLC.
                </p>
            </div>
        </div>
    </section>

    <footer class="container">
        <span class="blur"></span>
        <span class="blur"></span>
        <div class="column">
            <div class="logo">
                <img src="static/images/logo.png" style="filter: drop-shadow(4px 4px 9px red);">
            </div>
            <p class="email"><i class="ri-mail-send-line"></i> <b><u>Email</u>:-</b> <span>mp7698921@gmail.com</span>
            </p>
            <p class="email"><i class="ri-map-pin-line"></i> <b><u>Location</u>:-</b> <span>Uttarakhand, India</span>
            </p>
            <p>
                Thanks for visiting my profile. 😊
            </p>
            <div class="socials">
                <a href="#"><i class="ri-youtube-line"></i></a>
                <a href="#"><i class="ri-instagram-line"></i></a>
                <a href="https://twitter.com/MPandey1795"><i class="ri-twitter-line"></i></a>
            </div>
        </div>
        <div class="column" data-aos-offset="200" data-aos="fade-right" data-aos-duration="800">
            <div class="wrapper">
                <div class="title">
                    <h1>Contact me</h1>
                </div>
                <form action="https://formspree.io/f/xnqeakgb" method="POST">
                    <div class="contact-form">
                        <div class="input-fields">
                            <input type="text" name="Name" class="input" placeholder="Name" required>
                            <input type="text" name="Email" class="input" placeholder="Email Address" required>
                            <input type="text" name="Phone" class="input" placeholder="Phone" required>
                            <input type="text" name="Subject" class="input" placeholder="Subject" >
                        </div>
                        <div class="msg">
                            <textarea name="Message" placeholder="Message" required></textarea>
                           <button class="btnn" type="submit" id="myButton">send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </footer>

    <div class="copyright">
        Copyright © 2023 Mohit Pandey. All Rights Reserved.
    </div>

    <script src="static/JS/script.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>