<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="x-icon" href="images/mlogo.jpg" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <link rel="stylesheet" href="/static/CSS/style.css" />
    <link rel="stylesheet" href="/static/CSS/info.css" />
    <title>Mohit Pandey-Personal Portfolio</title>
</head>

<body>
    <nav>
        <div class="nav-logo">
            <a href="/"><img src="/static/images/logo.png"
                    style="filter: drop-shadow(4px 4px 9px rgb(107, 40, 165));" /></a>
        </div>

        <ul class="nav-links">
            <li class="link">
                <a href="/">Home</a>
            </li>
            <li id="link1" class="link">
                <a href="{{info.link}}">GithHub<i class="ri-arrow-down-s-line"></i></a>
            </li>
            <li id="link2" class="link">
                <a href="#">About<i class="ri-arrow-down-s-line"></i></a>
            </li>
            <li id="link3" class="link">
                <a href="#">Contact<i class="ri-arrow-down-s-line"></i></a>
            </li>
        </ul>
        <a href="/" class="btn">Go Back</a>
    </nav>

    <hr style="color: white;">


    <!-- images crouse ***********************************l -->
    <div id="carouselExampleAutoplaying" class="container carousel mt-5 p-2" data-aos-offset="200" data-aos="fade-up">
        <div class="carousel-inner">
            {% for project_img in img %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="/media/{{ project_img.firstImg }}" class="d-block w-100" height="600" alt="First Image">
                <div class="carousel-caption text-start">
                    <h1>{{info.title}}</h1>
                    <p>Explore the {{info.title}} project image gallery click on live demo button to see the project
                        demo...</p>
                    <a class="btn btn-info" href="#">Live Demo</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/media/{{ project_img.secondImg }}" class="d-block w-100" height="600" alt="Second Image">
            </div>
            <div class="carousel-item">
                <img src="/media/{{ project_img.thirdImg }}" class="d-block w-100" height="600" alt="Third Image">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon nextprev" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon nextprev" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <a class=" demo btn btn-info" href="#">Live Demo</a>

    <!-- project info ********************* -->
    <section class="container information" data-aos-offset="220" data-aos="fade-up" data-aos-duration="800">
        <div class="info container">
            <span class="blurr"></span>
            <span class="blurr"></span>
            <div class="container marketing">
                <h2 class="header">About Projects</h2>

                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="continer">
                        <h1 class="featurette-heading">{{info.title}}</h1>
                        <p class="lead ">
                        <div class="text-light">{{info.desciption | safe }}</div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <hr style="color: white;">
    <!-- footer element.................................. -->
    <footer class="container">
        <span class="blur"></span>
        <span class="blur"></span>
        <div class="column">
            <div class="logo">
                <img src="/static/images/logo.png" style="filter: drop-shadow(4px 4px 9px red);" />
            </div>
            <p class="email">
                <i class="ri-mail-send-line"></i> <b><u>Email</u>:-</b> <span>mp7698921@gmail.com</span>
            </p>
            <p class="email">
                <i class="ri-map-pin-line"></i> <b><u>Location</u>:-</b> <span>Uttarakhand, India</span>
            </p>
            <p>Thanks for visiting my profile. 😊</p>
            <div class="socials">
                <a href="#"><i class="ri-youtube-line"></i></a>
                <a href="#"><i class="ri-instagram-line"></i></a>
                <a href="https://twitter.com/MPandey1795"><i class="ri-twitter-line"></i></a>
            </div>
        </div>
        <div class="column" data-aos-offset="200" data-aos="fade-right" data-aos-duration="800">
            <div class="wrapper">
                <div class="title">
                    <h1>Contact me</h1>
                </div>
                <form action="https://formspree.io/f/xnqeakgb" method="POST">
                    <div class="contact-form">
                        <div class="input-fields">
                            <input type="text" name="Name" class="input" placeholder="Name" required />
                            <input type="text" name="Email" class="input" placeholder="Email Address" required />
                            <input type="text" name="Phone" class="input" placeholder="Phone" required />
                            <input type="text" name="Subject" class="input" placeholder="Subject" />
                        </div>
                        <div class="msg">
                            <textarea name="Message" placeholder="Message" required></textarea>
                            <button class="btnn" type="submit" id="myButton">send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </footer>

    <div class="copyright">Copyright © 2023 Mohit Pandey. All Rights Reserved.</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="/static/JS/info.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init()
    </script>
</body>

</html>